@import "tailwindcss";

body {
  background: #d6d6cd;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

.colm1 {
  width: calc((100% - 12px) / 2);
}

.colm2 {
  width: calc((100% - 36px) / 4);
}
